[submodule "third_party/TeensyTimerTool"]
	path = deps/TeensyTimerTool
	url = git@github.com:adob/TeensyTimerTool.git
[submodule "third_party/toolchain-gccarmnoneeabi-teensy"]
	path = deps/toolchain-gccarmnoneeabi-teensy
	url = git@github.com:adob/toolchain-gccarmnoneeabi-teensy.git
[submodule "third_party/baselib"]
	path = deps/baselib
	url = git@github.com:adob/baselib.git
[submodule "third_party/buildtool"]
	path = deps/buildtool
	url = git@github.com:adob/buildtool.git
[submodule "deps/nixpkgs"]
	path = deps/nixpkgs
	url = git@github.com:adob/nixpkgs.git
[submodule "deps/DynamixelSDK"]
	path = deps/DynamixelSDK
	url = https://github.com/ROBOTIS-GIT/DynamixelSDK.git
[submodule "deps/verdigris"]
	path = deps/verdigris
	url = https://github.com/woboq/verdigris.git
